<h1>Edit</h1>

<%= render('layouts/errors', :object => @user) %>

<%= form_for @user, :url => user_path(@user.id), :html => { :multipart => true } do |f| %>
  <div class="form-contrl">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-contrl">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="form-contrl">
    <%= f.label :picture %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="actions"><%= f.submit "Update" %></div>
  <%= link_to "Cancel", user_path(@user.slug), :class => "btn btn-danger" %>
<% end %>
