<h1>Howdy, <%= @user.name %></h1>
<%= link_to "All Tagged Photos", "/users/#{@user.slug}/tags", :class => "btn btn-info" %>



<%= image_tag @user.avatar.url(:medium), :class => 'display-image' %>



<div class="user_box_right">
  <%= render 'layouts/errors', :object => @album %>
  <h3>Create New Album</h3>
  <%= form_for @album do |f| %>
    <div class="form-contrl">
      <%= f.label "Album Name" %><br />
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.hidden_field :user_id, value: @user.id %>
    <div class="actions"><%= f.submit "Create Album", :class => 'btn btn-success submit' %></div>
  <% end %>
</div>

<h2>Here are your album bombs!</h2>
<hr>

<div class="row">
  <% @user.albums.each do |album| %>
    <div class="col-md-3 photo-display">
      <% if album.photos.length > 0 %>
        <div class="display-image-block">
          <%= link_to image_tag(album.photos[0].picture.url(:medium)), album_path(album), :class => 'display-image' %>
        </div>
      <% else %>
        <h3>No Photos</h3>
      <% end %>
        <h3><%= album.name %><br /></h3>
        <%= link_to "Edit Album", album_path(album), :class => "btn btn-success" %>
        <%= link_to "Delete Album", album_path(album),
                                :confirm => "Are you sure?",
                                :method => "delete",
                                :class => "btn btn-danger xdelete" %>
    </div>
  <% end %>
</div>

